{
    "presets": ["next/babel"],
    "plugins": [
      [
        "module-resolver",
        {
          "alias": {
            "@components": "./components",
            "@pages": "./pages",
            "@public": "./public",
            "@reducers": "./reducers",
            "@utils": "./utils",
            "@lib": "./lib",
            "@styles": "./styles",
            "@containers": "./containers"
          }
        }
      ]
    ]
  }