{
    "presets": ["next/babel"],
    "plugins": [
      [
        "module-resolver",
        {
          "alias": {
            "@components": "./components",
            "@pages": "./pages",
            "@public": "./public",
            "@redux": "./redux",
            "@utils": "./utils",
            "@lib": "./lib"
          }
        }
      ]
    ]
  }